/* Import fonts from fonts .css file */
@import url("./fonts.css");

/* css variables */
@import url("./partials/_variable.css");

/* global styling */
@import url("./partials/_global.css");

/* Set for all */
* {
    font-family: var(--font-family);
    box-sizing: border-box;
}

.header .nav-item {
    /* border: 1px solid rgb(189, 28, 95); */
    margin-left: 3rem;
    padding-top: 15px;
}

.header .nav-link {
    text-align: center;
}

.header .navbar {
    margin-top: 0px;
}

.header .collapse .active {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .collapse .nav-link:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* End of header */

/* Banner */
.site-main {
    color: var(--title-text-color);
    background: url("../images/banner/home-banner.png");
    height: calc(100vh - 70px);
    /* display: flex;
    align-items: center; */
    margin-top: 20vh;
}

.site-main .banner .item .h3::after {
    content: " ";
    display: inline-block;
    width: 18vw;
    height: 2px;
    background-color: var(--title-text-color);
    margin-bottom: 8px;
    margin-left: 10px;
}

.site-main .banner .item .h3 {
    font-size: 3rem;
}

.site-main .banner .item .h1 {
    font-size: 4.5rem;
}

.site-main .banner .item .description-job {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5vh;
}

.site-main .banner .text-container {
    align-self: end;
}

.site-main .banner .item .image {
    width: 90%;
    justify-self: center;
}

.button-container {
    margin-top: 5vh;
}

/* End banner */
/* Introduce self */
/* .introduce-self * {
    border: 1px solid black;
} */

.introduce-self {
    min-height: 130vh;
    display: flex;
}

.introduce-self .container {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

.row {
    /* border: 1px blue solid; */
}

.introduce-self .container .item h1 {
    letter-spacing: 1.5rem;
}

.introduce-self .container .item p {
    width: 80%;
    color: var(--primary-text-color);
}

/* End introduce self */

/* Brand */

.brand {
    min-height: 70vh;
    display: flex;
    margin-bottom: 10vh;
}
  
.year-experience {
    background-image: url("../images/client-info-bg.png");
    background-repeat: no-repeat;
    height: 180px;
    display: flex;
    align-items: flex-end;
}

.brand .container .item .brand-item {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand .container .item .brand-item .image {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease;
}

.brand .container .item .brand-item .image img {
    width: 70%;
}

.brand .container .item .brand-item .image:hover img {
    filter: brightness(0.2);
}

.brand .container .item .brand-item .image:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 20px 2px rgba(130,130,130,0.7);
}

.brand .container .row .item .big-number {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 5rem;
    text-align: end;
}

.brand .container .row .item .text-year {
    font-size: 2rem;
}

.brand .container .row .item .phone-icon {
    display: flex;
    justify-content: end;
}

.brand .container .row .item .phone-icon i {
    transform: rotate(90deg);
}

.phone-number {
    font-size: 1.1rem;
}

/* End Brand */
/* Services */
.services {
    margin-bottom: 10vh;
}



.services .container .services-description p {
    color: var(--primary-text-color);
}

.services .container .services-description .item {
    margin-bottom: 3vh;
}

.services .container .services-description {
    margin-bottom: 15vh;
}

.services-details {
    margin-left: 80px;
    margin-right: 80px;
}

.services .container .services-details .image {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .container .services-details h3 {
    text-align: center;
    font-size: 1.5rem;
}

.services .container .services-details p {
    text-align: center;
    color: var(--primary-text-color);
    font: 0.8rem;
    margin-left: 5px;
    margin-right: 5px;
}

.services .container .services-details .item {
    width: 200px;
    height: 350px;;
}

.services .container .services-details .container-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services .container .services-details .container-item:hover {
    box-shadow: -5px 5px 20px 2px rgba(133,133,133,0.3);
    transition: 0.4s ease box-shadow;
}


/* End Services */

/* Project Area */
.project-area .container .btn-group .btn {
    background-color: white;
    text-transform: uppercase;
    color: var(--primary-text-color);
    border: none;
}

.project-area .container .btn-group .btn.active {
    color: black;
}

.project-area .container .btn-group .btn:hover {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    color: black;
}

.project-area .container .btn-group {
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-area .container .grid .item-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-area .container .grid img:hover {
    filter: brightness(1.3);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.project-area .container .grid .item-card image {
    border: 5px;
}

.project-area .container .grid .item-card p {
    color: var(--primary-text-color);
}

/* End Project Area */

/* About me */

.about-area .container .owl-carousel .about-item {
    padding: 10px 50px;
    margin: 10px 30px;
    box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.3);
}


.about-area .container .owl-carousel .about-item .image {
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-area .container .owl-carousel .about-item img {
    width: 100%;
}

.about-area .container .owl-carousel .about-item p {
    color: var(--primary-text-color);
}

.about-area {
    margin: 10vh auto;
}

.about-area .container {
    margin: 5vh auto    ;
}

/* End about me */

/* Subscribe */
.subscribe {
    margin: 10vh auto;
    color: white;
}

.subscribe .container {
    background-image: url("../images/subscribe-bg.png");
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.subscribe .form-control {

}

.subscribe .btn {
    background-color: white;
    color: black;
    margin-left: 10px;
}

/* End Subscribe */


/* Footer */
.footer.container {
    margin: 20vh auto;
}

.footer .image {
    display: flex;
    justify-content: center;
}

.footer .icons {
    display: flex;
    justify-content: center;
}

.footer .icons i {
    filter: brightness(0);
    opacity: 0.5;
}

.footer .icons i:hover {
    filter: brightness(1);
    opacity: 0.8;
}

.footer span {
    color: var(--primary-color);
}

.footer .row {
    margin: 10px auto;
}
/* End footer */